<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Cursos do Professor</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                Olá, <span class="text-success" th:text="${firstName}+' '+${lastName}"></span>, Aqui estão seus cursos :
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>Código do Curso</th>
                        <th>Nome do Curso</th>
                        <th>Duração(h)</th>
                        <th>Descrição do Curso</th>
                        <th>Professor</th>
                        <th>Número de Estudantes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" th:each="course:${listCourses}">
                        <td th:text="${course.getCourseId()}"></td>
                        <td th:text="${course.getCourseName()}"></td>
                        <td th:text="${course.getCourseDuration()}"></td>
                        <td th:text="${course.getCourseDescription()}"></td>
                        <td th:text="${course.getInstructor().getFirstName()}+' '+${course.getInstructor().getLastName()}"></td>
                        <td th:text="${course.getStudents().size()}"></td>
                        <td>
                            <a class="btn btn-success"
                               th:href="@{/courses/formUpdate(courseId=${course.getCourseId()})}">
                                Atualizar
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>